body{
    background-color:lightcoral;
    margin: 0;
}

header{
    background-color: dimgrey;
}

main{
    margin: 30px 0 100px 0;
    float: left;
}

footer{       /* position: absolute; bottom:0;    -> Tout en bas ?????*/
    background-color: dimgrey;
    clear: both;
    width: 100%;
    height: 200px;
    margin: 100px 0 0 0;
}

span.footerInfo{
    font-weight: bold;
    font-size: 20px;
}

div.hautPage{
    background-color: darkred;
}

img.logo{
    width:90px;
    border: 7px solid rgb(185, 55, 32);
    float:left;
    border-radius: 10px;
}

img.stop{
    border: 5px solid rgb(95, 4, 4);
    border-radius: 1% / 1%;
    width: 100%;
}

img.panier{
    width: 30px;
}

ul.navPrim li{
    display:inline;
    list-style-type: none;
    font-size: 40px;     
    color:white;
    margin: 5px;
    
}

ul.navPrim a:link,ul.navPrim a:visited{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 2px;
    border: 3px solid darkred;
}

ul.navPrim a:hover{
    background-color:  rgb(184, 31, 31);
}

div.navigation{
    float: left;
    position: absolute;
    left: 98px;
    width: 850px;
    background-color: rgb(185, 55, 32);
}

main{
    clear: left;
}

div.vente{    /* n'arrive pas à donner une hauteur au cadre de vente avec les %-> problème pour l'affichage du bouton*/
    width: 100%;
    /*height: 100%;*/
    height: 2100px;
}

div.demandeAge{
    position: fixed ;
    top: 40%;   /* verifier avec le margin et padding -> plus tard */
    left:32%;    /* calcul à faire pour la position parfaite*/
    border: 3px solid black;
    text-align: center;
    padding: 10px ;
    width: 800px;
    background-color: darkred;
}

div.logoAge{
    width:15%;
    height: 100px;
    padding: 0;
    position: relative;
    top: 5px;
    left: 42%;     /* verifier position avec padding et margin */
    margin: 10px 0 40px 0;
}



a.loi{
    font-size: 20px;
    font-style: italic;
}
a:link.loi, a:visited.loi{
    color: darksalmon;
}

a:link.retourMain, a:visited.retourMain{
    color: darksalmon;
    font-weight: bold;
}

a.lienBeer{
    text-decoration: none;
    font-size: 200%;     
    color: white;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

div.boutonVersPanier{
    position: absolute;   /* relative -> pose des problèmes pour cliquer sur les boutons + ou - */  
    left: 43%;
    margin: 15px 0 0 0;
}

button.versPanier{
    width: 340px;
    height: 80px;
    text-align: center;
    padding: 0 6px 0 6px;
    margin: 0 0 0 10px;
    color: white;
    background-color: rgb(168, 60, 60);
    font-size: 200%;
    
}



div.cadreUn{
    float: left;
    width: 50%;
}

div.cadreDeux{
    float: left;
    width: 50%;
}

img.imageBiere{
    width: 100%;
}

button.plusMoins{
    text-align: center;
    padding: 0 6px 0 6px;
    margin: 0 0 0 10px;
    color: white;
    background-color: rgb(168, 60, 60);
    font-size: 200%;
    border: 3px solid darkred;
    
}

figcaption.titreBiere{
    margin-top: 10px;
    padding: 5px;
    font-size: 180%;     /* attention ne s'adapte pas !!!! */
    color: white;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

div.titreBiere{
    width: 80%;
    position: relative;
    left: 10%;
}

button:hover{
    background-color: rgb(160, 10, 10);
}

div.reseaux{
    float: right;
    width: 40%;
    text-align: right;
    padding: 0 20px 0 0;
}

div.contact{
    float: left;
    width: 40%;
    text-align: left;
    padding: 0 0 0 20px;
}
.texte{
    margin: 0 0 0 20px;
}




/* à modifier et mettre au propre */ 
/* revoir les positionnements en prenant en compte les padding et margin, etc. */