body{
    background-color:lightcoral;
}

header{
    background-color: dimgrey;
}


footer{
    background-color: dimgrey;
    clear: both;
}

div.hautPage{
    background-color: darkred;
}

img.logo{
    width:15%;
    border: 1px solid darkgray;
    float:left;

}

img.panier{
    width: 5%;
}

ul.navPrim li{
    display:inline;
    list-style-type: none;
    font-size: 500%;     /* Verifier comment faire taille en fonction de la fenêtre */
    color:white;
    margin: 5px;
    
}

ul.navPrim a:link,ul.navPrim a:visited{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 2px;
    border: 3px solid darkred;
}



div.navigation{
    float: left;
    width: 80%;
    background-color: rgb(173, 36, 36);
}

main{
    clear: left;
}

div.demandeAge{
    position: fixed ;
    top: 40%;   /* verifier avec le margin et padding -> plus tard */
    left:32%;    /* calcul à faire pour la position parfaite*/
    border: 3px solid black;
    text-align: center;
    padding: 10px ;
    width: 40%;
    background-color: darkred;
}

div.logoAge{
    width: 15%;
    padding: 0;
    border: 3px solid darkred;   /* problème pas aligné*/
    position: relative;
    top: 5px;
    left: 43%;     /* verifier position avec padding et margin */
}

a.loi{
    font-size: 20px;
    font-style: italic;
}
a:link.loi, a:visited.loi{
    color: darksalmon;
}

a:link.retourMain, a:visited.retourMain{
    color: darksalmon;
    font-weight: bold;
}

a.lienBeer{
    text-decoration: none;
    font-size: 200%;     /* attention ne s'adapte pas !!!! */
    color: white;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}





div.cadreUn{
    float: left;
    width: 50%;
}

div.cadreDeux{
    float: left;
    width: 50%;
}

img.imageBiere{
    width: 100%;
}

button.plusMoins{
    text-align: center;
    padding: 0 6px 0 6px;
    margin: 0 0 0 10px;
    color: white;
    background-color: rgb(168, 60, 60);
    font-size: 200%;
    
}

figcaption{
    margin-top: 10px;
    padding: 5px;
}

div.reseaux{
    float: right;
    width: 40%;
}

div.contact{
    float: left;
    width: 40%;
}






/* à modifier et mettre au propre */ 
/* revoir les positionnements en prenant en compte les padding et margin, etc. */